body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    position: relative;
    
}
.header

li{
    text-decoration: none;
    list-style-type: none;
}
.header__container{
    display: flex;
    justify-content: space-around;
    height: 80px;
    background-color:#5478F0;
    font-style: italic;
    margin: 10px 0 10px;
    background: linear-gradient(black,#5478F0 );
    margin-bottom: 0;
    


}

